/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed



/storage/*.key
/.idea
/.vagrant
.env.testing
dump.rdb
.DS_Store
/.scannerwork
/app/.scannerwork
reports
/storage/api-docs
.phpunit.result.cache
phpcs.xml
.env.testing.example
./storage/api-docs/api-docs.json
storage/debugbar/
storage/fonts/*
storage/json-responses/*
.vscode
.gitmsg
_ide_helper.php
reliance_staging_22_01_2021.sql
.prettierrc
.eslintrc
.eslintrc.json
/vendor/**/.git
/docker_test/**
app/Console/Commands/MigrateSpecificFile.php
certs
